<div class="container">
  <div class="row">
    <div *ngIf="isLoading; else products">
      <coach-circle-loader></coach-circle-loader>
    </div>

    <ng-template #products>
      <div *ngFor="let productPreview of productPreviews" class="col l6 m12 s12">
        <coach-prices-card [productPreview]="productPreview"></coach-prices-card>
      </div>

      <div *ngIf="productPreviews.length === 0" class="col s12 center no-data">
        <div class="row">
          <i class="large material-icons">info_outline</i>
        </div>
        <div class="row">
          <p>{{'page.prices.list.noData.info' | dictionary}}</p>
            <p><a (click)="onAddProductClick()">{{'page.prices.list.noData.click.info'
            | dictionary}}</a></p>
        </div>
      </div>
    </ng-template>

    <div id="fab" class="fixed-action-btn vertical click-to-toggle" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large waves-effect waves-light blue">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li materialize="tooltip" data-position="left" data-delay="50" [attr.data-tooltip]="'page.prices.add.product.tooltip' | dictionary"
            (click)="onAddProductClick()"><a class="btn-floating red"><i class="material-icons">add</i></a></li>
        <li materialize="tooltip" data-position="left" data-delay="50" [attr.data-tooltip]="'page.prices.add.shoppingList.tooltip' | dictionary"
            (click)="onAddShoppingListClick()"><a class="btn-floating green darken-1"><i class="material-icons">toc</i></a>
        </li>
      </ul>
    </div>

  </div>
</div>

<coach-prices-modals></coach-prices-modals>
