<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue darken-2">
      <a href="#" class="brand-logo">My Coach</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li [routerLink]="['/weights']" routerLinkActive="active"><a>Waga</a></li>
        <li [routerLink]="['/prices']" routerLinkActive="active"><a>Ceny żywności</a></li>
        <li [routerLink]="['/reports']" routerLinkActive="active"><a>Raporty</a></li>
        <li [routerLink]="['/trainings']" routerLinkActive="active"><a>Trening</a></li>
      </ul>
    </div>
  </nav>
</div>
