<div class="container">
    <div class="row">
        <div class="s12 center">
            <h1>{{ 'navbar.applicationName.label' | dictionary }}</h1>
        </div>
    </div>
    <div *ngIf="!userService.isLoggedInUser(); else goToPanel" class="row">
        <div class="s12 center log-in-data">
            <a (click)="loginUser()" class="waves-effect waves-light btn-large social facebook log-in-button">
                {{ 'page.login.button.label' | dictionary }}
            </a>
        </div>
    </div>

    <ng-template #goToPanel>
        <div class="row">
            <div class="s12 center log-in-data">
                <img class="circle responsive-img" *ngIf="userService.isLoggedInUser()"
                     src="{{ userService.getUserImgLink() }}"/>
                <h4>{{ 'page.login.hello.label' | dictionary }} {{ userService.getLoggedInUserName() }}</h4>

                <a (click)="goToApp()" class="waves-effect waves-light btn-large social facebook log-in-button">
                    {{ 'page.login.goToApp.button.label' | dictionary }}
                </a>
            </div>
        </div>
    </ng-template>
</div>
