<div class="container">
  <div class="row">
    <div *ngIf="isLoading">
      <coach-circle-loader></coach-circle-loader>
    </div>

    <div *ngIf="!isLoading">
      <div *ngFor="let weightsPreview of weightsPreviews; let i = index" class="col s12">
        <coach-weights-card [weightsPreview]="weightsPreview"></coach-weights-card>
      </div>
    </div>

    <div class="fixed-action-btn tooltipped" materialize="tooltip"
         data-position="left" data-delay="50" data-tooltip="Dodaj pomiar" style="bottom: 45px; right: 24px;"
         (click)="onAddClick()">
      <a class="btn-floating btn-large waves-effect waves-light blue">
        <i class="large material-icons">add</i>
      </a>
    </div>

  </div>
</div>

<coach-weights-modals></coach-weights-modals>
