<div class="card grey lighten-3 hoverable">
  <div class="card-content">
    <span class="card-title">
      <p>{{previewTitle}}</p>
      <div class="card-title-icons">
        <i (click)="onEditClick()" class="small material-icons tooltipped" materialize="tooltip"
           data-position="bottom" data-delay="50"
           [attr.data-tooltip]="'page.weights.edit.tooltip' | dictionary">mode_edit</i>
        <i (click)="onDeleteClick()" class="small material-icons tooltipped" materialize="tooltip"
           data-position="bottom" data-delay="50"
           [attr.data-tooltip]="'page.weights.delete.tooltip' | dictionary">delete</i>
      </div>
    </span>
    <img class="right" [ngClass]="arrowImageClass" src="assets/img/arrow_down.png"
         (click)="onWeightsClick()"/>
  </div>
  <div *ngIf="showData" class="center card-action" [ngClass]="getLoadingStyle()">
    <div *ngIf="isLoading">
      <coach-strip-loader></coach-strip-loader>
    </div>
    <div *ngIf="!isLoading">
      <coach-line-chart [chartData]="chartData" [chartLabels]="chartLabels"></coach-line-chart>
    </div>
  </div>
</div>
