<div class="container">
  <div class="row">

    <div class="col s12">
      <div class="card grey lighten-3">
        <div class="card-content">
          <span class="card-title">Sierpień 2016r.</span>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card grey lighten-3">
        <div class="card-content">
          <span class="card-title">Wrzesień 2016r.</span>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card grey lighten-3">
        <div class="card-content">
          <span class="card-title">Październik 2016r.</span>
        </div>
        <div class="center card-action">
          <img src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Burn_down_chart.png">
        </div>
      </div>
    </div>

  </div>
</div>
