<div id="product-add" class="modal" materialize="modal" [materializeParams]="[modalParams]"
     [materializeActions]="modalActions">
  <div class="modal-content" *ngIf="productToAdd">

    <h3>{{'page.prices.modal.add.product.title' | dictionary}}</h3>

    <div class="row">
      <form materialize class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix">receipt</i>
          <label for="product-name">{{'page.prices.modal.add.name.label' | dictionary}}</label>
          <input id="product-name" type="text" [(ngModel)]="productToAdd.productName" name="productName"/>
        </div>
        <div *ngIf="!canStoreFiles" class="input-field col s12">
          <i class="material-icons prefix">perm_media</i>
          <label for="image-url">{{'page.prices.modal.add.image.label' | dictionary}}</label>
          <input id="image-url" type="text" [(ngModel)]="productToAdd.image" name="image"/>
        </div>
        <div *ngIf="canStoreFiles && (!productToAdd.image || productToAdd.image.toLocaleString().length === 0)" class="file-field input-field col s12">
          <div class="btn blue">
            <span>{{'page.prices.modal.add.selectImage.label' | dictionary}}</span>
            <input #imageFile type="file" accept="image/*" (change)="uploadImage()">
          </div>
          <div class="file-path-wrapper">
            <input #imageWrapper class="file-path validate" type="text">
          </div>
        </div>
      </form>
    </div>
    <div class="row" *ngIf="canStoreFiles && imageUrl && imageUrl.length > 0">
      <div class="col s12 center">
        <img [src]="imageUrl" style="height: 400px; width: 400px;"/>
      </div>
    </div>
  </div>

  <coach-modal-footer leftButtonLabel="{{'global.add.label' | dictionary}}"
                      rightButtonLabel="{{'global.close.label' | dictionary}}"
                      (leftButtonAction)="onAddClick()"
                      (rightButtonAction)="onCloseModal()"
                      [isDataValid]="isDataValid()"></coach-modal-footer>

</div>
