<div id="product-add" class="modal" materialize="modal" [materializeParams]="[modalParams]"
     [materializeActions]="modalActions">
  <div class="modal-content" *ngIf="productToAdd">

    <h3>{{'page.prices.modal.add.addProduct.title' | dictionary}}</h3>

    <div class="row">
      <form materialize class="col s12">
        <div class="input-field col s12">
          <i class="material-icons prefix">receipt</i>
          <label for="product-name">{{'page.prices.modal.add.productName.label' | dictionary}}</label>
          <input id="product-name" type="text" [(ngModel)]="productToAdd.productName" name="productName"/>
        </div>
        <div *ngIf="!canStoreFiles()" class="input-field col s12">
          <i class="material-icons prefix">perm_media</i>
          <label for="screen-url">Screen link</label>
          <input id="screen-url" type="text" [(ngModel)]="productToAdd.screen" name="screen"/>
        </div>
        <div *ngIf="canStoreFiles() && !productToAdd.screen" class="file-field input-field col s12">
          <div class="btn blue">
            <span>{{'page.prices.modal.add.selectPhoto.label' | dictionary}}</span>
            <input #photoFile type="file" accept="image/*" (change)="uploadPhoto()">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </form>
    </div>
    <div class="row" *ngIf="productToAdd.screen" >
      <div class="col s12 center">
        <img [src]="productToAdd.screen" style="height: 300px; width: 300px;"/>
      </div>
    </div>
  </div>

  <coach-modal-footer leftButtonLabel="{{'global.add.label' | dictionary}}"
                      rightButtonLabel="{{'global.close.label' | dictionary}}"
                      (leftButtonAction)="onAddClick()"
                      (rightButtonAction)="onCloseModal()"
                      [isDataValid]="isDataValid()"></coach-modal-footer>

</div>
