<div id="cycle-add" class="modal" materialize="modal"
     [materializeParams]="[modalParams]" [materializeActions]="modalActions">
    <div class="modal-content">
        <h3>{{ 'page.trainings.modal.add.cycle.title' | dictionary }}</h3>
        <div class="row">
            <form materialize class="col s12">
                <div class="flex-cycle-add">
                    <div class="input-field flex-cycle-date">
                        <i class="material-icons prefix">today</i>
                        <label for="start-date">
                            {{ 'global.startDate.label' | dictionary }}
                        </label>
                        <input id="start-date" type="date" class="datepicker"
                               materialize="pickadate" [(ngModel)]="startDate"
                               name="startDate" [materializeParams]="[datePickerParams]">
                    </div>
                    <div class="flex-cycle-actions">
                        <a #emptySetLink>{{ 'page.trainings.modal.add.set.label' | dictionary }}</a>
                    </div>
                </div>

                <div *ngFor="let set of setsToAdd; trackBy: trackByIndex; let i = index" class="flex-cycle-add">

                    <div class="input-field flex-cycle-date">
                        <i class="material-icons prefix">label</i>
                        <label [for]="'setName_' + (i+1)">
                            {{ 'page.trainings.set.label' | dictionary }} #{{ i+1 }}
                        </label>
                        <input [id]="'setName_' + (i+1)" type="text" [(ngModel)]="set.setName"
                               [name]="'setName_' + (i+1)"/>
                    </div>
                    <div class="flex-cycle-actions icons">
                        <i (click)="onDeleteSet(i)"
                           class="small material-icons material-button tooltipped"
                           materialize="tooltip" data-position="bottom" data-delay="50"
                           [attr.data-tooltip]="'page.trainings.modal.delete.set.tooltip' | dictionary">delete</i>
                    </div>

                </div>
            </form>
        </div>

        <p *ngIf="errorMessage.length > 0" class="error-message">{{errorMessage}}</p>
    </div>

    <coach-modal-footer leftButtonLabel="{{'global.add.label' | dictionary}}"
                        rightButtonLabel="{{'global.close.label' | dictionary}}"
                        (leftButtonAction)="onAddClick()"
                        (rightButtonAction)="onCloseModal()"
                        [isDataValid]="isDataValid()"></coach-modal-footer>

</div>
