.flex-cycle-add {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-cycle-date {
  order: 1;
  flex-basis: 75%;
}

.flex-cycle-actions {
  order: 200;
  flex-basis: 25%;
  display: flex;
  justify-content: center;

  a {
    cursor: pointer;
  }
}

.add-link {
  cursor: pointer;
  padding-left: 6px;
}

table.margin {
  margin-bottom: 30px;

  td.icons {
    text-align: center;
  }
}

table.responsive-table.striped.fixed {
  table-layout: fixed;

  tr {
    color: black;
  }

  tr.inactive {
    color: gray;
    cursor: not-allowed;

    .input-field label.asText {
      color: grey;
    }
  }

  td {

    i {
      margin-left: 5px;
      vertical-align: middle;
      &.disabled {
        pointer-events: none;
        cursor: not-allowed;
      }
    }

    &.exercise {
      i {
        visibility: visible;
        font-size: 1rem;
        cursor: default;
      }
    }
  }
}

.input-field.inline {

  &.full {
    width: 100%;
  }
  &.short {
    width: 20%;
  }
}

.input-field label.asText {
  top: 0;
  color: black;
  margin-bottom: 1rem;
}


