<div id="training-add" class="modal" materialize="modal" [materializeParams]="[modalParams]"
     [materializeActions]="modalActions">
  <div class="modal-content">
    <h3>{{'page.trainings.modal.add.training.title' | dictionary}}</h3>
    <div class="row" *ngIf="activeCycle">
      <form materialize class="col s12">
        <div class="row">
          <div class="col s12 m6" style="padding-left: 0">
            <div class="input-field inline full">
              <select id="{{'set_' + (i+1)}}" [(ngModel)]="selectedSetNr" name="{{'set_' + (i+1)}}"
                      style="display:inline;">
                <option *ngFor="let set of activeCycle.sets; trackBy: trackBySetId; let i = index" [ngValue]="i">
                  {{set.setName}}
                </option>
              </select>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="input-field inline full">
              <i class="material-icons prefix">today</i>
              <label for="training-date">{{'page.trainings.modal.add.training.trainingDate.label' | dictionary}}</label>
              <input id="training-date" type="date" class="datepicker" materialize="pickadate"
                     [(ngModel)]="trainingDate" name="training-date" [materializeParams]="[datePickerParams]">
            </div>
          </div>
        </div>

        <table class="striped fixed">
          <thead>
          <tr>
            <th data-field="Exercise">{{'page.trainings.exercise.label' | dictionary}}</th>
            <th data-field="Repeats">{{'page.trainings.repeats.label' | dictionary}}</th>
            <th data-field="Comment">{{'page.trainings.comment.label' | dictionary}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let exercise of activeCycle.sets[selectedSetNr].exercises; trackBy: trackByExerciseId; let exId = index"
              [ngClass]="isExerciseActive[selectedSetNr][exId] ? '' : 'disabled'">
            <td class="exercise">
              <div class="input-field inline">
                <input type="checkbox" id="isActive_{{exId}}" name="isActive_{{exId}}" class="filled-in blue-checkbox"
                       [checked]="isExerciseActive[selectedSetNr][exId] === true ? true : false"
                       (click)="changeExerciseActive(exId)">
                <label class="asText" for="isActive_{{exId}}">{{exercise.exerciseName}}</label>
                <i *ngIf="exercise.exerciseDescription" class="material-button material-icons tooltipped"
                   materialize="tooltip"
                   data-position="bottom" data-delay="50" [attr.data-tooltip]="exercise.exerciseDescription">comment</i>
              </div>
            </td>
            <td class="repeats">
              <div *ngFor="let series of exerciseSessionsToAdd[selectedSetNr][exId].series; let serId = index">
                <div class="input-field inline short">
                  <input [disabled]="!isExerciseActive[selectedSetNr][exId]" type="number" min="0" step="1" [(ngModel)]="series.repeats"
                         name="{{'repeats_' + (selectedSetNr + 1) + '_' + (exId + 1) + '_' + (serId + 1)}}"
                         id="{{'repeats_' + (selectedSetNr + 1) + '_' + (exId + 1) + '_' + (serId + 1)}}">
                </div>
                {{'global.multiply.label' | dictionary}}
                <div class="input-field inline short">
                  <input [disabled]="!isExerciseActive[selectedSetNr][exId]" type="number" min="0" step="0.25" [(ngModel)]="series.weight"
                         name="{{'weight' + (selectedSetNr + 1) + '_' + (exId + 1) + '_' + (serId + 1)}}"
                         id="{{'weight' + (selectedSetNr + 1) + '_' + (exId + 1) + '_' + (serId + 1)}}">
                </div>
                {{'global.weight.label' | dictionary}}
                <i [ngClass]="isExerciseActive[selectedSetNr][exId] ? '': 'disabled'"  (click)="onDeleteSeries(exId, serId)" class="material-button material-icons tooltipped small"
                   materialize="tooltip" data-position="bottom" data-delay="50"
                   [attr.data-tooltip]="'page.trainings.modal.delete.series.tooltip' | dictionary">delete</i>

              </div>
              <a class="add-link" [ngClass]="isExerciseActive[selectedSetNr][exId] ? '': 'disabled'"  (click)="onAddNewEmptySeriesToExercise(exId)">{{'page.trainings.modal.add.series.label' |
                dictionary}}</a>
            </td>
            <td>
              <div *ngFor="let series of exerciseSessionsToAdd[selectedSetNr][exId].series; let serId = index">
                <div class="input-field inline">
                  <input [disabled]="!isExerciseActive[selectedSetNr][exId]" type="text" [(ngModel)]="series.comment"
                         name="{{'comment' + (selectedSetNr + 1) + '_' + (exId + 1) + '_' + (serId + 1)}}"
                         id="{{'comment' + (selectedSetNr + 1) + '_' + (exId + 1) + '_' + (serId + 1)}}">
                </div>
              </div>
              <a style="visibility: hidden">padding</a>
            </td>
          </tr>

          </tbody>
        </table>

      </form>
    </div>

    <p *ngIf="errorMessage.length > 0" class="error-message">{{errorMessage}}</p>
  </div>

  <coach-modal-footer leftButtonLabel="{{'global.add.label' | dictionary}}"
                      rightButtonLabel="{{'global.close.label' | dictionary}}"
                      (leftButtonAction)="onAddClick()"
                      (rightButtonAction)="onCloseModal()"
                      [isDataValid]="isDataValid()"></coach-modal-footer>

</div>
