$light-blue-color: #90CAF9; //MATERIAL DESIGN 200
$blue-color: #1976D2; //MATERIAL DESIGN 700
$red-color: #B71C1C; //MATERIAL DESIGN 700

$circle-size: 120px;

//BUTTONS

.material-button {
  display: none;
  cursor: pointer;
  filter: contrast(0);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    filter: contrast(1);
  }
}

.arrow {
  filter: contrast(0);
  cursor: pointer;

  &:hover {
    filter: contrast(1);
  }
}

.down-arrow {
  @extend .arrow;
}

.left-arrow {
  @extend .arrow;
  transform: rotate(90deg);
}

//CARDS

.card-content {
  position: relative;

  .card-title {
    i.edit-button {
      @extend .material-button;
      margin-left: 1rem;
    }

    i.delete-button {
      @extend .material-button;
      margin-left: 3rem;
    }
  }
}

.card-content:hover {
  .card-title {
    i.edit-button, i.delete-button {
      display: inline;
    }
  }
}

//INPUTS

.input-field input:focus {
  border-bottom: 1px solid $blue-color;
  box-shadow: 0 1px 0 0 $blue-color;
}

.red-checkbox[type="checkbox"].filled-in:checked + label:after {
  background-color: $red-color;
  border: 2px solid $red-color;
}

//LOADERS

.loading {
  padding: 0;
}

.preloader-wrapper.big {
  width: $circle-size;
  height: $circle-size;
}

.preloader-wrapper {
  display: block;
  position: relative;
  top: 150px;
  margin: 0 auto;
}

.progress {
  margin: 0;
  background-color: $blue-color;

  .indeterminate {
    background-color: $light-blue-color;
  }
}

.no-data {
  margin-top: 150px;

  i.large.material-icons {
    color: $blue-color;
    margin-bottom: 100px;
    font-size: 12rem;
  }

  p {
    font-size: 24px;
    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &.small {
    margin-top: 30px;

    i.medium.material-icons {
      color: $blue-color;
      margin-bottom: 30px;
      font-size: 12rem;
    }

    p {
      margin-bottom: 0px;
    }
  }
}
