<div class="container">
    <div class="row">
        <div *ngFor="let productPreview of getProducts()" class="col l6">
            <div class="card medium grey lighten-3">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                         [src]="productPreview.screenUrl">
                </div>
                <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{productPreview.productName}}<i
                  class="material-icons right">more_vert</i></span>
                    <p>Średnia cena: {{productPreview.average}} zł</p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{productPreview.productName}}<i
                            class="material-icons right">close</i></span>
                    <table>
                        <thead>
                        <tr>
                            <th data-field="Day">Dzień</th>
                            <th data-field="Place">Miejsce</th>
                            <th data-field="Price">Cena</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr *ngFor="let price of getProductPrices(productPreview)">
                            <td>{{price.priceDate | date: "dd-MM-yyyy"}} r.</td>
                            <td>{{price.place}}</td>
                            <td>{{price.value}} zł</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light blue">
                <i class="large material-icons">add</i>
            </a>
        </div>

    </div>
</div>
