
@import "../shared/materialize-upgrades";

.prices-card-content {
  flex-direction: column !important;
  flex-wrap: nowrap;
  height: 100%;

  span {
    flex-basis: 100%;
    width: 100%;
    &.card-title {
      order: 1;
      justify-content: space-between;
    }

    &.card-subtitle {
      order: 2;
      justify-content: space-around;
    }
  }

  .card-title-icons {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    order: 99;
    visibility: hidden;
    margin-bottom:16px;

    i {
      @extend .material-button;
      display: inline;
      margin-right: 5px;
    }
  }
}

.prices-card-content:hover {
  .card-title-icons {
    visibility: visible;
  }
}

.card-reveal {

  &:hover {
    .row.icons-container {
      visibility: visible;
    }
  }

  .row.icons-container {
    cursor: default;
    margin-top: 25px;
    visibility: hidden;

    i {
      display: inline;
      margin: 0 10px;
      filter: contrast(0);

      &:hover {
        filter: contrast(1);
        cursor: pointer;
      }
    }
  }
}

