<div class="card medium grey lighten-3 hoverable">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" [src]="productPreview.screenUrl">
  </div>
  <div class="card-content">
    <span class="card-title grey-text activator text-darken-4">{{productPreview.productName}}
      <i class="material-icons right">more_vert</i>
    </span>
    <p>{{'page.prices.avgPrice.label' | dictionary}} {{productPreview.average}} {{'global.currency.label' | dictionary}}</p>
    <div class="row icons-container">
      <i (click)="onEditProductClick()" class="edit-button small material-icons tooltipped"
         materialize="tooltip" data-position="bottom" data-delay="50"
         [attr.data-tooltip]="'page.prices.editProduct.tooltip' | dictionary">mode_edit</i>
      <i (click)="onDeleteProductClick()" class="delete-button small material-icons tooltipped"
         materialize="tooltip" data-position="bottom" data-delay="50"
         [attr.data-tooltip]="'page.prices.deleteProduct.tooltip' | dictionary">delete</i>
    </div>
  </div>

  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{productPreview.productName}}
      <i class="material-icons right">close</i>
    </span>
    <table *ngIf="prices.length > 0">
      <thead>
      <tr>
        <th data-field="Day">{{'page.prices.day.label' | dictionary}}</th>
        <th data-field="Place">{{'page.prices.place.label' | dictionary}}</th>
        <th data-field="Price">{{'page.prices.price.label' | dictionary}}</th>
        <th data-field="Quantity">{{'page.prices.quantity.label' | dictionary}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let price of prices">
        <td>{{dateService.parseDateToString(price.priceDate)}} r.</td>
        <td>{{price.place}}</td>
        <td>{{price.value}} {{'global.currency.label' | dictionary}}</td>
        <td>{{price.quantity}}</td>
      </tr>
      </tbody>
    </table>

    <div class="row icons-container" *ngIf="prices.length > 0">
      <div class="col s12">
        <i (click)="onAddPriceClick()" class="edit-button small material-icons tooltipped" materialize="tooltip"
           data-position="bottom" data-delay="50"
           [attr.data-tooltip]="'page.prices.addPrice.tooltip' | dictionary">note_add</i>
        <i (click)="onEditPricesClick()" class="edit-button small material-icons tooltipped" materialize="tooltip"
           data-position="bottom" data-delay="50"
           [attr.data-tooltip]="'page.prices.editPrices.tooltip' | dictionary">mode_edit</i>
        <i (click)="onDeletePricesClick()" class="delete-button small material-icons tooltipped"
           materialize="tooltip"
           data-position="bottom" data-delay="50"
           [attr.data-tooltip]="'page.prices.deletePrices.tooltip' | dictionary">delete</i>
      </div>
    </div>

    <div *ngIf="prices.length === 0" class="col s12 center no-data small">
      <div class="row">
        <i class="medium material-icons">info_outline</i>
      </div>
      <div class="row">
        <p>{{'page.prices.productPrices.noData.info' | dictionary}} <a (click)="onAddPriceClick()">{{'page.prices.productPrices.noData.click.info' | dictionary}}</a></p>
      </div>
    </div>
  </div>
</div>
