<div class="card grey lighten-3 hoverable">
  <div class="card-content">
    <span class="card-title">
      <p>{{previewTitle}}</p>
      <div class="card-title-icons">
        <i (click)="onEditClick()" class="small material-icons tooltipped" materialize="tooltip"
           data-position="bottom" data-delay="50" [attr.data-tooltip]="'page.reports.edit.tooltip' | dictionary">mode_edit</i>
        <i (click)="onDeleteClick()" class="small material-icons tooltipped" materialize="tooltip"
           data-position="bottom" data-delay="50" [attr.data-tooltip]="'page.reports.delete.tooltip' | dictionary">delete</i>
      </div>
    </span>
    <img class="right tooltipped" [ngClass]="arrowImageClass" src="assets/img/arrow_down.png"
         (click)="onCycleClick()"/>
  </div>

  <div *ngIf="showData" class="center card-action" [ngClass]="getLoadingStyle()">
    <div *ngIf="isLoading; else cycleContent">
      <coach-strip-loader></coach-strip-loader>
    </div>

    <ng-template #cycleContent>
      <div materialize="carousel" [materializeParams]="[{full_width: true, no_wrap: true}]" class="carousel carousel-slider center"
           data-indicators="true">
        <div *ngFor="let set of cycle.sets" class="carousel-item">
          <coach-set-section [set]="set"></coach-set-section>
        </div>
      </div>
    </ng-template>
  </div>
</div>
