<table class="responsive-table striped">
  <thead>
  <tr>
    <th data-field="Set">{{set.setName | uppercase}}</th>
    <th *ngFor="let training of set.trainings">{{ dateService.parseDateToString(training.trainingDate) }}
    </th>
  </tr>
  </thead>
  <tbody *ngIf="set.exercises.length > 0; else noExercises">
  <tr *ngFor="let exercise of set.exercises">
    <td>{{exercise.exerciseName}}</td>
    <td *ngFor="let session of exercise.exerciseSessions">
      <div *ngFor="let series of session.series" class="series">
        {{trainingsService.getFormattedRepeatsWithWeight(series)}}
        <i *ngIf="series.comment" class="material-button material-icons tooltipped" materialize="tooltip"
           data-position="bottom" data-delay="50" [attr.data-tooltip]="series.comment">comment</i>
      </div>
    </td>
  </tr>
  </tbody>

  <ng-template #noExercises>
    <tbody>
    <div class="col s12 center no-data small">
      <div class="row">
        <i class="medium material-icons">info_outline</i>
      </div>
      <div class="row">
        <p>{{'page.trainings.set.noExercises.info' | dictionary}} <a class="click" (click)="onAddExerciseClick()">{{'page.trainings.set.noExercises.click.info'
          | dictionary}}</a></p>
      </div>
    </div>
    </tbody>
  </ng-template>

</table>
