<div class="container">
  <div class="row">

    <div *ngFor="let cycle of getCycles(); let i = index" class="col s12">
      <div class="card grey lighten-3">
        <div class="card-content">
          <span class="card-title">Cykl {{ i + 1}}</span>
        </div>
        <div *ngIf="showContent(i)" class="center card-action">
          <table *ngFor="let set of cycle.sets" class="responsive-table">
            <thead>
            <tr>
              <th data-field="Set">{{set.setName | uppercase}}</th>
              <th *ngFor="let training of set.trainings" data-field="Day 01">{{training.trainingDate | date: "dd-MM-yyyy"}}</th>
            </tr>
            </thead>
            <tbody>
            <!--TODO SPARSUJ EXERCISE'Y DOBRA FUNKCJA-->
            <tr *ngFor="let exercise of set.exercises">
              <td>{{exercise.exerciseName}}</td>
              <td *ngFor="let session of exercise.exerciseSessions">
                <div *ngFor="let series of session.series">
                  {{series.repeats}} x {{series.weight}} kg
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large waves-effect waves-light blue">
        <i class="large material-icons">add</i>
      </a>
    </div>

  </div>
</div>
