table {
  cursor: default;

  i {
    vertical-align: middle;
  }

  td, th {

    i.hover-visible {
      visibility: hidden;
    }

    &:hover {
      i {
        visibility: visible;
      }
    }
  }

  td {
    .series {

      i {
        margin-left: 5px;
        visibility: visible;
        font-size: 1rem;
        cursor: default;
      }
    }
  }
}

.carousel.carousel-slider {

  min-height: 400px;
  max-height: 400px;
  height: 400px;

  .carousel-item {
    min-height: 300px;
    max-height: 350px;
    overflow-y: auto;
  }
}

