<div class="container">
  <div class="row">

    <div class="col s12">
      <div class="card grey lighten-3">
        <div class="card-content">
          <span class="card-title">Cykl 01</span>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card grey lighten-3">
        <div class="card-content">
          <span class="card-title">Cykl 02</span>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card grey lighten-3">
        <div class="card-content">
          <span class="card-title">Cykl 03</span>
        </div>
        <div class="center card-action">
          <table>
            <thead>
            <tr>
              <th data-field="Set">Push</th>
              <th data-field="Day 01">8.10</th>
              <th data-field="Day 02">15.10</th>
              <th data-field="Day 03">22.10</th>
              <th data-field="Day 04">29.10</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Wyciskanie leżąc</td>
              <td>5kg x 12<br/>
                6,25kg x 12<br/>
                7,5kg x 12
              </td>
              <td>5kg x 12<br/>
                6,25kg x 12<br/>
                7,5kg x 12
              </td>
              <td>5kg x 12<br/>
                6,25kg x 12<br/>
                7,5kg x 12
              </td>
              <td>5kg x 12<br/>
                6,25kg x 12<br/>
                7,5kg x 12
              </td>
            </tr>
            <tr>
              <td>Wyciskanie w skosie</td>
              <td>2,5kg x 12<br/>
                3,75kg x 12<br/>
                5kg x 12
              </td>
              <td>2,5kg x 12<br/>
                3,75kg x 12<br/>
                5kg x 12
              </td>
              <td>2,5kg x 12<br/>
                3,75kg x 12<br/>
                5kg x 12
              </td>
              <td>2,5kg x 12<br/>
                3,75kg x 12<br/>
                5kg x 12
              </td>
            </tr>
            <tr>
              <td>Uginanie bicepsa</td>
              <td>1,25kg x 12<br/>
              2,5kg x 12<br/>
              3,75kg x 12</td>
              <td>1,25kg x 12<br/>
              2,5kg x 12<br/>
              3,75kg x 12</td>
              <td>1,25kg x 12<br/>
              2,5kg x 12<br/>
              3,75kg x 12</td>
              <td>1,25kg x 12<br/>
              2,5kg x 12<br/>
              3,75kg x 12</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
