/* You can add global styles to this file, and also import other style files */

/*Styles for materialize calendar*/

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected, .picker__weekday-display, .picker__date-display {
  background-color: #1976D2;
}

.picker__day.picker__day--today, .picker__close, .picker__today {
 color: #1976D2;
}

/*Styles for materialize forms*/

/* label focus color */
.input-field input:focus + label {
  color: #1976D2;
}
/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #1976D2;
  box-shadow: 0 1px 0 0 #1976D2;
}

.input-field .prefix.active {
  color: #1976D2;
}

/* label focus color textarea */
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #1976D2;
}
/* label underline focus color textarea */
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1976D2;
  box-shadow: 0 1px 0 0 #1976D2;
}
