$circle-size: 120px;

.preloader-wrapper.big {
  width: $circle-size;
  height: $circle-size;
}

.preloader-wrapper {
  display: block;
  position: relative;
  top: 150px;
  margin: 0 auto;
}

.progress {
  margin: 0;
}
