@media(min-width: 1280px) {
  .fourty-width-modal {
    width: 40%
  }
}

td.half-width-cell {
  width: 50%;
}

.input-field input:focus {
  border-bottom: 1px solid #1976D2;
  box-shadow: 0 1px 0 0 #1976D2;
}
